.text {
    resize: none;
}

.input {
    min-inline-size: 30em;
}
.output {
    display: block;
    margin-inline-start: 1em;
}

.sticker {
    outline-style: solid;
    width: 2.4in;
    padding: 0.12in;
}

.inputs {
    all: unset;
    display: grid;
    grid-template-columns: auto 1fr;
    max-inline-size: 40em;
    column-gap: 2em;
}
.buttons {
    all: unset;
    display: flex;
    gap: 1em;
    margin-block: 1em;
}

.inputs {
    margin-inline: 1em;
}

.input, .inputButton {
    justify-self: start;
}
